/* .td_1, .td_2, .td_3 {
    height: 150px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 5px solid #fff;
} */

html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial;
}

.swiper-container {

    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-slide {
    background-size: cover;
    background-position: center center;
    background-image: url(../img/demo-1-bg.jpg);
    /* background-color: #142326; */
    /* background-color: #F8F8F8; */
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.sz {
    margin: 1%;
    position: absolute;
    top: 56px;
    left: 0;
    width: 90%;
    margin-left: 9%;
    height: 90%;
    background-color: #ffffff;
    /* text-align: center; */
    display: inline-block;
}

table {
    background-color: #114A51;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    /* border-collapse: collapse; */
    box-shadow: 3px 3px 3px ;
    /* border: 2px solid #0D98AC; */
}

/* thead>tr,
        tbody>tr {
            border-bottom: 10px solid #fff;
        } */

td {
    /* text-align: center; */
}

.ws-header {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 55px;
    background: rgba(17,74,81, 0.5);
    line-height: 55px;
    /* color: #03EDFE; */
    font-weight: bold;
    font-size: 15px;
    /* border-bottom: 2px solid #0D98AC; */
    box-shadow: 0px 1px 0px;
}

.ws-header>span:last-child {
    float: right;
    margin-right: 30px;
    color: #03EDFE;
}

.img_1 {
    /* padding-top: 10px; */
    /* top: 10px; */
    /* width: 59%;
    height: 25px;
    display: block; */
    width: 59%;

    /* top: 10px;
    width: 32%;
    height: 53px;
    display: block; */
}



td {
    height: 25%;
    float: unset;
    /* border-radius: 5%;
            border: 2px solid #116d71; */
}

.ws-header>span:first-child {
    width: 30%;
    float: left;
    /* margin-left: 30px; */
    margin-left: 1%;
    margin-top: 0.7%;
}

.ws-header>span:nth-child(2) {
    text-align: center;
    float: left;
    margin-left: 10%;
    font-weight: bold;
    width: 20%;
    font-size: 1.5em;
    letter-spacing: 3px;
    color: #03EDFE;
}

hr {
    padding: 0;
    margin: 0;
}

td span {
    display: inline-block;
}



.tdw_2 {
    height: 20%;
    color: #eee;
    text-align: center;
    background-color: rgb(45, 149, 81);
    height: 14%;
    padding-top: 8%;
    font-weight: bold;

}

.detail-no {
    background-color: #bfdde1;
    padding: 10%;
    padding-left: 15%;
}

.detail-1 {
    height: 85%;
    background-image: linear-gradient(315deg, #5b71d0 0%, #31558a 74%);
}

.detail-no tr:nth-child(even) td {
    color: #9F9F9F;
    font-size: 12px;
}

.detail-no td {
    height: 22px;
    font-weight: bold;
    font-size: 14px;
}
.sz>table>tbody>tr:nth-child(even) td{
    height: 8%;
    background-color: #03EDFE;
}
.sz>table>tbody>tr>td{
    box-shadow: 3px 3px 3px; 
}

.sz>table>tbody>tr:nth-child(odd)>td{
    /* box-shadow: 3px 3px 3px;  */
    opacity: 0;
}
.tdw_1 {
    /* box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
         0 1px 4px rgba(0, 0, 0, 0.3),
         0 0 60px rgba(0, 0, 0, 0.1) inset; */
    width: 100%;
    height: 100%;
}
th {
    background-color: #03EDFE;
    /* color: #03EDFE; */
    /* box-shadow: 3px 3px 3px; */
    text-align: center;
    box-shadow: 3px 3px 3px;
    text-align: center;
}



.text{
    display: inline-block;
    border-top: 2px solid;
    border-right: 2px solid;
    width: 100px;
    height: 100px;
    border-color: #EA6000;
    transform: rotate(45deg);
    margin: 50px auto auto 100px;
}


.td_1{
    background: rgba(17,74,81, 0.5);
    margin: 1%;
    position: absolute;
    top: 56px;
    left: 0;
    width: 7%;
    height: 90%;
    /* background-color: #114A51; */
    /* background-image: linear-gradient(315deg, #545eb5 0%, #3149bf 74%); */
    /* text-align: center; */
    display: inline-block;
    /* display: inline-block; */
    box-shadow: 3px 3px 3px;
    /* border: 2px solid #0D98AC; */
}

.GP{
    height: 15%;
    position: absolute;
    margin: 10%;
    /* margin-top: 85%; */
    text-align: center;
    /* font-size: 1.5em; */
    /* border: 2px solid #0D98AC; */
    width: 80%;
    border-radius: 50%;
    background-color: #3e3e3a;
    background-color: #142326;
    color: #03EDFE;
    border: 2px solid #0D98AC;
}

.JT_1{
    text-align: center;
    height: 9%;
}

.JT{
    text-align: center;
    height: 10%;
}

.JT>img{
    display: inline-block;
    height: 45px;
    top: 95%;
    left: 20%;
    margin-left: 5%;
    position: absolute;
}
.ee{
    display: inline-block;
    color: #03EDFE;
    font-weight: bold;
    text-align: center;
    /* top: 10%; */
    margin-top: 8%;
    border-bottom: 2px solid #3cc6da;
}
.kk{
     /* height: 25%; */
     line-height: 4;
     height: 115px;
     /* position: absolute; */
     margin: 10%;
     /* margin-top: 85%; */
     text-align: center;
     /* font-size: 1.5em; */
     /* border: 2px solid #0D98AC; */
     width: 80%;
     border-radius: 50%;
     background-color: #3e3e3a;
     background-color: #142326;
     color: #03EDFE;
     border: 2px solid #0D98AC;
}





.arrowRight{                        /*整个箭头容器*/
    left: -23%;
    top: 5%;
    width: 40%;
    height: 18%;
    display: inline-block;
    position: relative;
}
.arrowRight:before,.arrowRight:after{
    content: '';
    border-color: transparent;       /*伪元素边框颜色为透明*/
    border-style: solid;
    position: absolute;               /*伪元素绝对定位*/
}
.arrowRight:after{                   /*箭头尾部的矩形*/

    width: 74%;
    height: 0%;
    background-color: #03EDFE;
    top: 5px;
    left: 3px;
}
.arrowRight:before{                 /*箭头三角形*/
    border-left-color: #03EDFE;
    border-width: 7px;
    left: 80%;
    top: 1px;
}


.ck_1,.ck_2,.ck_3{
      /* position: relative; */
    /* color: #ffffff; */
    /* top: 5%; */
    width: 70%;
    color: inherit;
    background: 0 0;
    cursor: pointer;
    letter-spacing: 5px;
    border-radius: 3px;
    background-color: #114a51;
    border: 1px solid #0D98AC;
    /* transform: translateX(-50%) translateY(-50%) rotate(45deg); */

}

.ck_1:hover {
    color: #ffffff;
    background-image: linear-gradient(315deg, #a7f1c6 0%, #469888 74%);
  text-decoration: none;
  }
  .ck_2:hover {
    color: #ffffff;
    background-image: linear-gradient(315deg, #a7f1c6 0%, #469888 74%);
  text-decoration: none;
  }
  .ck_3:hover {
    color: #ffffff;
    background-image: linear-gradient(315deg, #a7f1c6 0%, #469888 74%);
  text-decoration: none;
  }
.tddd{
    color: #03EDFE;
    left: 19%;
    top: -23%;
    /* width: 32%; */
    /* height: 18%; */
    display: inline-block;
    position: relative;
    /* display: inline-block; */
    position: relative;
    /* margin-top: -106%; */
    /* top: -31%; */
    font-size: 0.8em;
    
}




*{margin:0;padding:0;}
body{
    /* width:100%;
    height:10000000px; */
}
#mask{
    display:none;
    background:rgba(0,0,0,0.3);
    width:100%;
    height:100%;
    position:fixed;  /* //利用固定定位的好处：页面还可以上下翻动，但是始终处于灰色背景下 */
    z-index: 1000;
}
#login{
    border-radius: 1%;
    display: none;
    background: white;
    width: 34%;
    position: absolute;
    left: 33%;
    top: 30%;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}


#load{
    padding: 2%;
    display: none;
    width: 20%;
    border-radius: 1%;
    background-color: #90e2c8;
    /* height: 24%; */
    /* height: 50%; */
    position: absolute;
    left: 42%;
    top: 40%;
    /* margin-left: -200px; */
    /* margin-top: -125px; */
    z-index: 1000;
    /* background: url(../loading.gif) no-repeat 5px 5px;
    padding-left: 25px; */
    /* border: 1px solid ; */
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}


.test_mask{
    width: 20%;
    height:10%;
    border: 1px solid #BCE8F1;
    z-index: 1001;
}
#login .xx{
    position: absolute;
    left: 95%;
    top: 3%;
    font-size: 1.5em;
    cursor: pointer;
    opacity: .2;
}



.modal-header {
    padding: 3%;
    border-bottom: 1px solid #e5e5e5;
}

.modal-body{
    padding: 10%;
    border-bottom: 1px solid #e5e5e5;
    background-color: #132220;
}
.modal-footer{
    padding: 3%;
    text-align: center;
}

.btn:hover{
    opacity: 0.8;
    /* background-color: #ffffff */
}

.btn{
    margin-right: 11%;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.btn-qx{
    margin-right: 0;
    margin-left: 11%;
    background-color: #e23422;
}






.detail-no_1 {
    padding: 6%;
    /* padding-left: 15%; */
    background-color: #ffffff;
    padding: 6%;
    /* padding-left: 15%; */
    box-shadow: 0px 0px 0px;
}
}


.detail-no_1 tr:nth-child(even) td {
    color: #9F9F9F;
    /* font-size: 12px; */
}

.detail-no_1 td {
    /* height: 22px; */
    font-weight: bold;
    /* font-size: 14px; */
    
}

.detail-no_1 tr {
    margin-right: 8%;
    float: left;
    float: left
}


.loader{
    max-width: 42%;
    /* background-color: #ffffff; */
    /* font-size: 2em; */
    /* color: #494A5F; */
    /* text-align: center; */
    background: url(../loading.gif) no-repeat 0% 3px;
    padding-left: 6%;
    /* background-color: #ffffff; */
    word-wrap: break-word;
    margin: 0 auto;

}








.product {
      /* width: 376px; */
    /* padding: 15px; */
    position: relative;
    /* float: left; */
    /* margin: 0 20px 0 0; */
}


.product-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity 0.3s ease;
    background-size: 30px 30px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
    animation: barberpole 0.5s linear infinite;
}
@keyframes barberpole {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}

.tsk{
    text-align: center;
    letter-spacing: 3px;
}



.switch-wrap {
    color: #f5e9e9;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 4%;
    /* border: 1px solid #DFDFDF; */
    outline: none;
    /* border-radius: 16px; */
    box-sizing: border-box;
    background: #a94442;
    cursor: pointer;
    transition: border-color .3s, background-color .3s;
    vertical-align: middle;
    top: 90%;
}

.switch-wrap span { 
    position: absolute;
    top: -6%;
    /* line-height: 112%; */
    left: -1px;
    transition: transform 0.3s;
    width: 50%;
    height: 108%;
    font-size: 1.5em;
    font-weight: bold;
    color: #fb0000;
    /* border-radius: 50%; */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    background-color: #194a58;
    text-align: center;
}

.switch-wrap.active {
    border-color: #167b69; 
    background-color: #167b69; 
}

.switch-wrap.active span {
    /* transform: translateX(100%); */
}

.KK{

    float: left;
    width: 49%;
    height: 4%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;


}
.MK{


    width: 49%;
    height: 4%;
    float: right;
    float: left;
    /* width: 49px; */
    /* height: 30px; */
    line-height: 30px;
    text-align: center;
    font-weight: bold;

}


/* h3 {
    border-top: solid cornflowerblue 1px;
    border-left: solid cornflowerblue 1px;
    width: 15%;

    margin: 0;

    text-align: center;
    display: inline-block;
}

.tab-content {
    border: solid cornflowerblue 1px;
    width: 100%;
    height: 100px;
}

.tab-content div{
    display: none;
}

.selected {
    background-color: cornflowerblue;
}

.tab-content .show{
    display: block;
} */

#poll{
    border-radius: 6px;
    display: none;
    background: white;
    width: 78%;
    position: absolute;
    left: 10%;
    top: 12%;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

#poll .xx{
    position: absolute;
    left: 97%;
    top: 2%;
    font-size: 2em;
    cursor: pointer;
    opacity: .2;
}

#poll .modal-body {
    padding: 4%;
    border-bottom: 1px solid #e5e5e5;
    background-color: #ebefef;
}

#poll .modal-header {
    padding: 1%;
    border-bottom: 1px solid #e5e5e5;
}
#poll .modal-footer {
    padding: 1%;
    text-align: right;
}
#poll .btn-qx {
    margin-right: 0;
    margin-left: 11%;
    /* background-color: #e23422; */
}


.SX{
    display: inline-block;
    width: 44%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.panel-body {
    
    padding: 15px;
    background-color: #ffffff;
}


#teacher_table_A,#teacher_table_B{
    background-color: #ffffff;
    table-layout: auto;
    /* width: 0; */
    height: 0;
    /* border-collapse: collapse; */
    box-shadow: 0px 0px 0px;
    /* border: 2px solid #0D98AC; */
}

#teacher_table_A th{
    background-color: #ffffff;
    /* color: #03EDFE; */
    /* box-shadow: 3px 3px 3px; */
    text-align: center;
    box-shadow: 0px 0px 0px;
    text-align: center;
}
#teacher_table_B th{
    background-color: #ffffff;
    /* color: #03EDFE; */
    /* box-shadow: 3px 3px 3px; */
    text-align: center;
    box-shadow: 0px 0px 0px;
    text-align: center;
}
.GN{
    letter-spacing: 3px;
    font-size: 0.8em;
    /* margin-right: 11%; */
    display: inline-block;
    /* height: 38px; */
    /* line-height: 38px; */
    padding: 0px 11px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    /* font-size: 14px; */
    border: none;
    border-radius: 2px;
    cursor: pointer;
}


/* 报警提示框 */
#login_B{
    border-radius: 1%;
    display: none;
    background: white;
    width: 34%;
    position: absolute;
    left: 33%;
    top: 30%;
    z-index: 2000;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}


#login_B .xx{
    position: absolute;
    left: 95%;
    top: 3%;
    font-size: 1.5em;
    cursor: pointer;
    opacity: .2;
}

#msg{
    color: red;
}

/* 

.modal-header {
    padding: 3%;
    border-bottom: 1px solid #e5e5e5;
}

.modal-body{
    padding: 10%;
    border-bottom: 1px solid #e5e5e5;
    background-color: #132220;
}
.modal-footer{
    padding: 3%;
    text-align: center;
} */

.qc_1{
    width: 100%;
    /* block-size: auto; */
    /* color: #ffffff; */
    /* background-image: linear-gradient(315deg, #a7f1c6 0%, #469888 74%); */
    /* text-decoration: none; */
    letter-spacing: 3px;
    font-size: 0.8em;
    /* margin-right: 11%; */
    display: inline-block;
    /* height: 38px; */
    /* line-height: 38px; */
    padding: 5px 11px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    /* font-size: 14px; */
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#login_A{
    border-radius: 1%;
    display: none;
    background: white;
    width: 34%;
    position: absolute;
    left: 33%;
    top: 30%;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
/* #login_A .modal-body {

    padding: 4%;

    border-bottom: 1px solid #e5e5e5;

    background-color: #ebefef;

} */
#msg_A{
    color: red;
    display: inline-block;
}